#resultValue {
    font-size: 18px;
    color: rgb(33, 105, 18);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #marksInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #marksInput:focus {
    border-color: blue;
    outline: none;
  }
  